{% extends 'main/pattern.html' %}

{%block title %} Создать сообщение {%endblock%}

{% block addlink %}
{%endblock%}

{% block admin-btn %}
    <a href="{% url 'home' %}" class="btn btn-dark me-5" style="width: 200px; height: 55px; font-size: 27px; padding: 5px;">На главную</a>
    <a href="{% url 'contacts_about' %}" class="btn btn-dark" style="width: 150px; height: 55px; font-size: 27px; padding: 5px;">Контакты</a>
{% endblock %}

{% block content %}
    <div class="application_form">
        <h1 style="margin-bottom: 100px;">Оставьте ваше сообщение:</h1>
        <form method="post">
            {% csrf_token %}
            {{form.title}}<br>
            {{form.mes_text}}<br>
            {{form.ent_mail}}<br>
            <!--думаю можно сюда впихнуть код для проверки почты но потом...-->
            <button class="btn btn-success btn-lg" type="submit">Отправить сообщение</button>
        </form>
    </div>
    
{% endblock %}