
.custom-header { 
    border-bottom: 2px solid black;
    background-color: rgba(255, 255, 255, 0.74);
}
.main-btns{
    display: flex;
    justify-content: flex-end;
}

.btn-create{
    width:28%;
    height: 55px;
    font-size: larger;
    padding: 12px;
}

body{
    background-color: black;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/main/images/forest-background.jpg');
    background-position: 0px 20px;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px);
    z-index: -1;
}

main { 
    margin-top: 10vh;
    color: white;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

:root {
    --index: calc(1vw + 1vh);
    --gallery-gap: calc(var(--index) * 0.1);
}

.login_form {
    margin: var(--gallery-gap) auto;
    background: rgba(255, 255, 255, 0.1);
    padding: var(--gallery-gap);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 700px;
}

.login_form h1 {
    margin-bottom: var(--gallery-gap);
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--gallery-gap);
}

form div{
    margin-right: 47%;
}

.btn-enter{
    font-size: 2rem;
    margin-left: 35%;
    width:30%;
}

.text-danger{
    text-align: center;
    width: 100%;
}